In [108]:
import pandas as pd
import numpy as np
df_b = pd.read_json('yelp_academic_dataset_business.json', lines=True)

In [109]:
df_b

                   business_id  ...                                              hours
0       6iYb2HFDywm3zjuRg0shjw  ...  {'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...
1       tCbdrRPZA0oiIYSmHG3J0w  ...  {'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ...
2       bvN78flM8NLprQ1a1y5dRg  ...  {'Thursday': '11:0-18:0', 'Friday': '11:0-18:0...
3       oaepsyvc0J17qwi8cfrOWg  ...                                               None
4       PE9uqAjdw0E4-8mjGl3wVA  ...  {'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'...
...                        ...  ...                                                ...
160580  D2mHoIDXx9N8mS1pGoKV9Q  ...  {'Monday': '9:0-19:0', 'Tuesday': '9:0-19:0', ...
160581  bQX-kwVTyZgcdZGEPzce6Q  ...  {'Monday': '10:0-18:0', 'Tuesday': '10:0-18:0'...
160582  wvFZ06nmPmQ2-IVoPqVYLA  ...  {'Monday': '0:0-0:0', 'Wednesday': '12:0-17:0'...
160583  GB75wPibj3IjNauaoCxyGA  ...                                               None
160584  ngmLL5Y5OT-bYHKU0kKrYA  ...  {'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21...

[160585 rows x 14 columns]

In [110]:
df_b.dropna(subset=["attributes"])
df_b = df_b[df_b['attributes'].notnull()]

In [111]:
list_attributes = set()
for i in df_b.attributes:
  temp = set(list(i.keys()))
  for j in temp:
    list_attributes.add(j)
print(list_attributes)

{'BusinessAcceptsCreditCards', 'BYOBCorkage', 'AgesAllowed', 'RestaurantsAttire', 'WheelchairAccessible', 'CoatCheck', 'RestaurantsCounterService', 'RestaurantsPriceRange2', 'BikeParking', 'AcceptsInsurance', 'HasTV', 'RestaurantsReservations', 'HairSpecializesIn', 'GoodForDancing', 'HappyHour', 'Smoking', 'BestNights', 'WiFi', 'Music', 'BYOB', 'ByAppointmentOnly', 'NoiseLevel', 'DogsAllowed', 'Caters', 'RestaurantsGoodForGroups', 'Alcohol', 'Ambience', 'RestaurantsTakeOut', 'GoodForKids', 'DietaryRestrictions', 'RestaurantsTableService', 'RestaurantsDelivery', 'DriveThru', 'Open24Hours', 'BusinessAcceptsBitcoin', 'OutdoorSeating', 'GoodForMeal', 'BusinessParking', 'Corkage'}

In [112]:
len(list_attributes)

39

In [113]:
count_attributes = dict()
for i in list_attributes:
  count_attributes[i] = 0
count_attributes

{'AcceptsInsurance': 0,
 'AgesAllowed': 0,
 'Alcohol': 0,
 'Ambience': 0,
 'BYOB': 0,
 'BYOBCorkage': 0,
 'BestNights': 0,
 'BikeParking': 0,
 'BusinessAcceptsBitcoin': 0,
 'BusinessAcceptsCreditCards': 0,
 'BusinessParking': 0,
 'ByAppointmentOnly': 0,
 'Caters': 0,
 'CoatCheck': 0,
 'Corkage': 0,
 'DietaryRestrictions': 0,
 'DogsAllowed': 0,
 'DriveThru': 0,
 'GoodForDancing': 0,
 'GoodForKids': 0,
 'GoodForMeal': 0,
 'HairSpecializesIn': 0,
 'HappyHour': 0,
 'HasTV': 0,
 'Music': 0,
 'NoiseLevel': 0,
 'Open24Hours': 0,
 'OutdoorSeating': 0,
 'RestaurantsAttire': 0,
 'RestaurantsCounterService': 0,
 'RestaurantsDelivery': 0,
 'RestaurantsGoodForGroups': 0,
 'RestaurantsPriceRange2': 0,
 'RestaurantsReservations': 0,
 'RestaurantsTableService': 0,
 'RestaurantsTakeOut': 0,
 'Smoking': 0,
 'WheelchairAccessible': 0,
 'WiFi': 0}

In [114]:
for i in df_b.attributes:
  temp = set(list(i.keys()))
  for j in temp:
    count_attributes[j] += 1
print(count_attributes)

{'BusinessAcceptsCreditCards': 120177, 'BYOBCorkage': 3667, 'AgesAllowed': 97, 'RestaurantsAttire': 40723, 'WheelchairAccessible': 29370, 'CoatCheck': 5188, 'RestaurantsCounterService': 40, 'RestaurantsPriceRange2': 92442, 'BikeParking': 76480, 'AcceptsInsurance': 7168, 'HasTV': 44495, 'RestaurantsReservations': 45607, 'HairSpecializesIn': 1193, 'GoodForDancing': 4758, 'HappyHour': 15237, 'Smoking': 4419, 'BestNights': 5526, 'WiFi': 59017, 'Music': 7198, 'BYOB': 3519, 'ByAppointmentOnly': 49748, 'NoiseLevel': 39193, 'DogsAllowed': 18308, 'Caters': 40140, 'RestaurantsGoodForGroups': 45381, 'Alcohol': 44443, 'Ambience': 43882, 'RestaurantsTakeOut': 58412, 'GoodForKids': 56850, 'DietaryRestrictions': 68, 'RestaurantsTableService': 19400, 'RestaurantsDelivery': 54485, 'DriveThru': 6038, 'Open24Hours': 42, 'BusinessAcceptsBitcoin': 17593, 'OutdoorSeating': 50128, 'GoodForMeal': 29276, 'BusinessParking': 98163, 'Corkage': 3973}

In [115]:
for i in count_attributes:
  count_attributes[i] /= len(df_b)
count_attributes = dict(sorted(count_attributes.items(),key=lambda item:item[1], reverse=True))
print(count_attributes)

{'BusinessAcceptsCreditCards': 0.8254311677072387, 'BusinessParking': 0.6742288434196699, 'RestaurantsPriceRange2': 0.6349343718448003, 'BikeParking': 0.52529998008146, 'WiFi': 0.40535602673205445, 'RestaurantsTakeOut': 0.4012006071720481, 'GoodForKids': 0.39047206939894086, 'RestaurantsDelivery': 0.37422815657346165, 'OutdoorSeating': 0.3443022672793335, 'ByAppointmentOnly': 0.34169225168792455, 'RestaurantsReservations': 0.3132499502036499, 'RestaurantsGoodForGroups': 0.31169767777296986, 'HasTV': 0.30561222036773744, 'Alcohol': 0.3052550603394394, 'Ambience': 0.3014018531110699, 'RestaurantsAttire': 0.2797043813919625, 'Caters': 0.27570006799777463, 'NoiseLevel': 0.26919563440550026, 'WheelchairAccessible': 0.2017267313675795, 'GoodForMeal': 0.20108109593180992, 'RestaurantsTableService': 0.13324816440350842, 'DogsAllowed': 0.12574780380924908, 'BusinessAcceptsBitcoin': 0.1208368534201507, 'HappyHour': 0.10465475675341535, 'Music': 0.04943919007095121, 'AcceptsInsurance': 0.04923313620847156, 'DriveThru': 0.04147177405507133, 'BestNights': 0.037955121468751934, 'CoatCheck': 0.03563358128481452, 'GoodForDancing': 0.032680142589272834, 'Smoking': 0.030351733943252766, 'Corkage': 0.027288399854388603, 'BYOBCorkage': 0.02518665045709615, 'BYOB': 0.0241701180688632, 'HairSpecializesIn': 0.008194075264607501, 'AgesAllowed': 0.000666240822017542, 'DietaryRestrictions': 0.0004670554216205449, 'Open24Hours': 0.0002884754074715131, 'RestaurantsCounterService': 0.0002747384833062029}

In [116]:
frequent_attributes = []
for i in count_attributes:
  if count_attributes[i] > 0.3:
    frequent_attributes.append(i)
frequent_attributes

['BusinessAcceptsCreditCards',
 'BusinessParking',
 'RestaurantsPriceRange2',
 'BikeParking',
 'WiFi',
 'RestaurantsTakeOut',
 'GoodForKids',
 'RestaurantsDelivery',
 'OutdoorSeating',
 'ByAppointmentOnly',
 'RestaurantsReservations',
 'RestaurantsGoodForGroups',
 'HasTV',
 'Alcohol',
 'Ambience']

In [117]:
def filter_frequent(row):
  lista = list(row.attributes.keys())
  for j in frequent_attributes:
    if j not in lista:
      return False
  return True

In [118]:
df = df_b[df_b.apply(filter_frequent, axis=1)].reset_index()
df = df[["attributes", "stars"]]
df

                                             attributes  stars
0     {'RestaurantsTakeOut': 'True', 'RestaurantsAtt...    4.0
1     {'Ambience': '{'touristy': False, 'hipster': F...    4.5
2     {'RestaurantsReservations': 'False', 'Caters':...    3.5
3     {'RestaurantsPriceRange2': '2', 'BusinessParki...    4.0
4     {'GoodForKids': 'True', 'HasTV': 'False', 'Res...    4.0
...                                                 ...    ...
2583  {'BusinessParking': '{'garage': False, 'street...    4.0
2584  {'RestaurantsPriceRange2': '2', 'RestaurantsAt...    4.0
2585  {'Alcohol': 'u'full_bar'', 'HappyHour': 'True'...    4.0
2586  {'RestaurantsTakeOut': 'True', 'RestaurantsAtt...    4.0
2587  {'Alcohol': 'u'beer_and_wine'', 'RestaurantsAt...    4.5

[2588 rows x 2 columns]

In [119]:
key = frequent_attributes[0]
def from_attribute(row):
  temp = row.attributes
  return temp[key]

for i in frequent_attributes:
  key = i
  df[i] = df.apply(from_attribute, axis=1)
df

                                             attributes  ...                                           Ambience
0     {'RestaurantsTakeOut': 'True', 'RestaurantsAtt...  ...  {'romantic': False, 'intimate': False, 'touris...
1     {'Ambience': '{'touristy': False, 'hipster': F...  ...  {'touristy': False, 'hipster': False, 'romanti...
2     {'RestaurantsReservations': 'False', 'Caters':...  ...  {'touristy': False, 'hipster': False, 'romanti...
3     {'RestaurantsPriceRange2': '2', 'BusinessParki...  ...  {'touristy': False, 'hipster': False, 'romanti...
4     {'GoodForKids': 'True', 'HasTV': 'False', 'Res...  ...  {'touristy': None, 'hipster': False, 'romantic...
...                                                 ...  ...                                                ...
2583  {'BusinessParking': '{'garage': False, 'street...  ...  {'romantic': False, 'intimate': False, 'touris...
2584  {'RestaurantsPriceRange2': '2', 'RestaurantsAt...  ...  {'touristy': False, 'hipster': False, 'romanti...
2585  {'Alcohol': 'u'full_bar'', 'HappyHour': 'True'...  ...  {'touristy': False, 'hipster': False, 'romanti...
2586  {'RestaurantsTakeOut': 'True', 'RestaurantsAtt...  ...  {'romantic': False, 'intimate': False, 'classy...
2587  {'Alcohol': 'u'beer_and_wine'', 'RestaurantsAt...  ...  {'touristy': False, 'hipster': False, 'romanti...

[2588 rows x 17 columns]

In [120]:
df.drop(['attributes'], axis = 1, inplace = True)
df

      stars  ...                                           Ambience
0       4.0  ...  {'romantic': False, 'intimate': False, 'touris...
1       4.5  ...  {'touristy': False, 'hipster': False, 'romanti...
2       3.5  ...  {'touristy': False, 'hipster': False, 'romanti...
3       4.0  ...  {'touristy': False, 'hipster': False, 'romanti...
4       4.0  ...  {'touristy': None, 'hipster': False, 'romantic...
...     ...  ...                                                ...
2583    4.0  ...  {'romantic': False, 'intimate': False, 'touris...
2584    4.0  ...  {'touristy': False, 'hipster': False, 'romanti...
2585    4.0  ...  {'touristy': False, 'hipster': False, 'romanti...
2586    4.0  ...  {'romantic': False, 'intimate': False, 'classy...
2587    4.5  ...  {'touristy': False, 'hipster': False, 'romanti...

[2588 rows x 16 columns]

In [121]:
regex = r"\'(.*?)\'"
df['WiFi'] =  df['WiFi'].str.extract(regex)
df['Alcohol'] =  df['Alcohol'].str.extract(regex)
df

      stars  ...                                           Ambience
0       4.0  ...  {'romantic': False, 'intimate': False, 'touris...
1       4.5  ...  {'touristy': False, 'hipster': False, 'romanti...
2       3.5  ...  {'touristy': False, 'hipster': False, 'romanti...
3       4.0  ...  {'touristy': False, 'hipster': False, 'romanti...
4       4.0  ...  {'touristy': None, 'hipster': False, 'romantic...
...     ...  ...                                                ...
2583    4.0  ...  {'romantic': False, 'intimate': False, 'touris...
2584    4.0  ...  {'touristy': False, 'hipster': False, 'romanti...
2585    4.0  ...  {'touristy': False, 'hipster': False, 'romanti...
2586    4.0  ...  {'romantic': False, 'intimate': False, 'classy...
2587    4.5  ...  {'touristy': False, 'hipster': False, 'romanti...

[2588 rows x 16 columns]

In [122]:
import ast
df = df[df['BusinessParking']!= "None"]

parking = df.BusinessParking.iloc[-1]
parking = ast.literal_eval(parking)
parking = list(parking.keys())

key = parking[0]
def from_parking(row):
  temp = row.BusinessParking
  temp = ast.literal_eval(temp)
  return temp[key]

for i in parking:
  key = i
  df[i] = df.apply(from_parking, axis=1)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

      stars BusinessAcceptsCreditCards  ...    lot  valet
0       4.0                       True  ...  False  False
1       4.5                       True  ...   True  False
2       3.5                       True  ...   True  False
3       4.0                       True  ...   True  False
4       4.0                       True  ...   True  False
...     ...                        ...  ...    ...    ...
2583    4.0                       True  ...   True  False
2584    4.0                       True  ...  False  False
2585    4.0                       True  ...   True  False
2586    4.0                       True  ...   True  False
2587    4.5                       True  ...   True  False

[2564 rows x 21 columns]

In [123]:
df.drop(['BusinessParking'], axis = 1, inplace = True)
df

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      stars BusinessAcceptsCreditCards  ...    lot  valet
0       4.0                       True  ...  False  False
1       4.5                       True  ...   True  False
2       3.5                       True  ...   True  False
3       4.0                       True  ...   True  False
4       4.0                       True  ...   True  False
...     ...                        ...  ...    ...    ...
2583    4.0                       True  ...   True  False
2584    4.0                       True  ...  False  False
2585    4.0                       True  ...   True  False
2586    4.0                       True  ...   True  False
2587    4.5                       True  ...   True  False

[2564 rows x 20 columns]

In [124]:
df = df[df['Ambience']!= "None"]

Ambience = df.Ambience.iloc[-1]
Ambience = ast.literal_eval(Ambience)
Ambience = list(Ambience.keys())
base = len(Ambience)

def filter_lenght(row):
  lista = ast.literal_eval(row.Ambience)
  lista = list(lista.keys())
  if (len(lista) == base):
    return True
  else:
    return False
df = df[df.apply(filter_lenght, axis=1)].reset_index()

key = Ambience[0]
def from_ambience(row):
  temp = row.Ambience
  temp = ast.literal_eval(temp)
  return temp[key]

for i in Ambience:
  key = i
  df[i] = df.apply(from_ambience, axis=1)
df

      index  stars BusinessAcceptsCreditCards  ... upscale classy casual
0         0    4.0                       True  ...   False  False   True
1         1    4.5                       True  ...   False   True   True
2         2    3.5                       True  ...   False   True   True
3         3    4.0                       True  ...   False   True   True
4         4    4.0                       True  ...   False  False   True
...     ...    ...                        ...  ...     ...    ...    ...
2534   2583    4.0                       True  ...   False  False   True
2535   2584    4.0                       True  ...   False   True  False
2536   2585    4.0                       True  ...   False  False   True
2537   2586    4.0                       True  ...   False  False   True
2538   2587    4.5                       True  ...   False   True   True

[2539 rows x 30 columns]

In [125]:
df.drop(['Ambience', 'index'], axis = 1, inplace = True)
df

      stars BusinessAcceptsCreditCards  ... classy casual
0       4.0                       True  ...  False   True
1       4.5                       True  ...   True   True
2       3.5                       True  ...   True   True
3       4.0                       True  ...   True   True
4       4.0                       True  ...  False   True
...     ...                        ...  ...    ...    ...
2534    4.0                       True  ...  False   True
2535    4.0                       True  ...   True  False
2536    4.0                       True  ...  False   True
2537    4.0                       True  ...  False   True
2538    4.5                       True  ...   True   True

[2539 rows x 28 columns]

In [126]:
df.valet = df.valet.astype(int)
df.RestaurantsPriceRange2 = df.RestaurantsPriceRange2.astype(int)

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2539 entries, 0 to 2538
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   stars                       2539 non-null   float64
 1   BusinessAcceptsCreditCards  2539 non-null   object
 2   RestaurantsPriceRange2      2539 non-null   int64
 3   BikeParking                 2539 non-null   object
 4   WiFi                        2539 non-null   object
 5   RestaurantsTakeOut          2539 non-null   object
 6   GoodForKids                 2539 non-null   object
 7   RestaurantsDelivery         2539 non-null   object
 8   OutdoorSeating              2539 non-null   object
 9   ByAppointmentOnly           2539 non-null   object
 10  RestaurantsReservations     2539 non-null   object
 11  RestaurantsGoodForGroups    2539 non-null   object
 12  HasTV                       2539 non-null   object
 13  Alcohol                     2539 non-null   object
 14  garage                      2514 non-null   object
 15  street                      2499 non-null   object
 16  validated                   2518 non-null   object
 17  lot                         2510 non-null   object
 18  valet                       2539 non-null   int64
 19  touristy                    2375 non-null   object
 20  hipster                     2275 non-null   object
 21  romantic                    2413 non-null   object
 22  divey                       2357 non-null   object
 23  intimate                    2336 non-null   object
 24  trendy                      2230 non-null   object
 25  upscale                     2450 non-null   object
 26  classy                      2387 non-null   object
 27  casual                      2487 non-null   object
dtypes: float64(1), int64(2), object(25)
memory usage: 555.5+ KB

In [128]:
for i in [list(df.columns)[1]] + [list(df.columns)[3]] + list(df.columns)[5:13] + list(df.columns)[14:]:
  df[i] = df[i].astype(bool).astype(int).fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2539 entries, 0 to 2538
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   stars                       2539 non-null   float64
 1   BusinessAcceptsCreditCards  2539 non-null   int64
 2   RestaurantsPriceRange2      2539 non-null   int64
 3   BikeParking                 2539 non-null   int64
 4   WiFi                        2539 non-null   object
 5   RestaurantsTakeOut          2539 non-null   int64
 6   GoodForKids                 2539 non-null   int64
 7   RestaurantsDelivery         2539 non-null   int64
 8   OutdoorSeating              2539 non-null   int64
 9   ByAppointmentOnly           2539 non-null   int64
 10  RestaurantsReservations     2539 non-null   int64
 11  RestaurantsGoodForGroups    2539 non-null   int64
 12  HasTV                       2539 non-null   int64
 13  Alcohol                     2539 non-null   object
 14  garage                      2539 non-null   int64
 15  street                      2539 non-null   int64
 16  validated                   2539 non-null   int64
 17  lot                         2539 non-null   int64
 18  valet                       2539 non-null   int64
 19  touristy                    2539 non-null   int64
 20  hipster                     2539 non-null   int64
 21  romantic                    2539 non-null   int64
 22  divey                       2539 non-null   int64
 23  intimate                    2539 non-null   int64
 24  trendy                      2539 non-null   int64
 25  upscale                     2539 non-null   int64
 26  classy                      2539 non-null   int64
 27  casual                      2539 non-null   int64
dtypes: float64(1), int64(25), object(2)
memory usage: 555.5+ KB

In [129]:
df

      stars  BusinessAcceptsCreditCards  ...  classy  casual
0       4.0                           1  ...       0       1
1       4.5                           1  ...       1       1
2       3.5                           1  ...       1       1
3       4.0                           1  ...       1       1
4       4.0                           1  ...       0       1
...     ...                         ...  ...     ...     ...
2534    4.0                           1  ...       0       1
2535    4.0                           1  ...       1       0
2536    4.0                           1  ...       0       1
2537    4.0                           1  ...       0       1
2538    4.5                           1  ...       1       1

[2539 rows x 28 columns]

In [137]:
df.WiFi = df.WiFi.replace(['no','free','paid'],[0,2,1])
df.Alcohol = df.Alcohol.replace(['none','beer_and_wine','full_bar'],[0,1,2])
df

      stars  BusinessAcceptsCreditCards  ...  classy  casual
0       4.0                           1  ...       0       1
1       4.5                           1  ...       1       1
2       3.5                           1  ...       1       1
3       4.0                           1  ...       1       1
4       4.0                           1  ...       0       1
...     ...                         ...  ...     ...     ...
2534    4.0                           1  ...       0       1
2535    4.0                           1  ...       1       0
2536    4.0                           1  ...       0       1
2537    4.0                           1  ...       0       1
2538    4.5                           1  ...       1       1

[2539 rows x 28 columns]

In [138]:
df.to_csv('cleaned_attributes.csv')